<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todo.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.todo.domain.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="count" column="count" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,count,
        password,phone
    </sql>
    <select id="selectPageList" parameterType="com.todo.domain.bo.UserBo" resultType="com.todo.domain.vo.UserVo">
        select *
        from user
    </select>

    <insert id="insert">
        INSERT INTO user
            (name,account,password,phone)
        VALUES (#{name},#{account},#{password}, #{phone});
    </insert>

    <update id="update">
        UPDATE user SET name=#{name} , account=#{account}, phone=#{phone} WHERE id = #{id}
    </update>

    <update id="updatePassword">
        UPDATE user SET password = #{password} WHERE id = #{id}
    </update>

    <delete id="delete">
        delete from user WHERE  id = #{id}
    </delete>

    <select id="selectUserById" resultType="com.todo.domain.vo.UserVo">
        select * from user WHERE id = #{id}
    </select>
    <select id="selectUserByPhone" resultType="com.todo.domain.vo.UserVo">
        select * from user WHERE phone = #{phone}
    </select>
</mapper>
